In [1]:
# import libraries
import pandas as pd
import os
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
from datetime import timedelta
import plotly.figure_factory as ff
import plotly.express as px

In [2]:
df_1 = pd.read_csv("https://raw.githubusercontent.com/Tinashe-04/Formula-2/main/new_data/all_races_new_copy.csv")
df_1.head()

,Unnamed: 0,LAPS,TIME,GAP,INT.,KPH,BEST,LAP,POS,CAR,PILOT NAME,TEAM,CIRCUIT,TYPE,ROUND,DATE
0,0,32,58:18.977,0.000,0.000,177.931,1:46.038,24.0,1.0,6,A. Markelov,RUSSIAN TIME,Sakhir,Feature Race,Round 1,2017-04-16
1,1,32,58:26.868,7.891,7.891,177.530,1:46.187,18.0,2.0,20,N. Nato,Pertamina Arden,Sakhir,Feature Race,Round 1,2017-04-16
2,2,32,58:32.757,13.780,5.889,177.233,1:46.550,24.0,3.0,1,C. Leclerc,PREMA Racing,Sakhir,Feature Race,Round 1,2017-04-16
3,3,32,58:36.455,17.478,3.698,177.046,1:46.729,19.0,4.0,15,J. King,MP Motorsport,Sakhir,Feature Race,Round 1,2017-04-16
4,4,32,58:37.121,18.144,0.666,177.013,1:46.761,21.0,5.0,9,O. Rowland,DAMS,Sakhir,Feature Race,Round 1,2017-04-16

In [3]:
# drop unnamed row
df = df_1.copy()
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,LAPS,TIME,GAP,INT.,KPH,BEST,LAP,POS,CAR,PILOT NAME,TEAM,CIRCUIT,TYPE,ROUND,DATE
0,32,58:18.977,0.000,0.000,177.931,1:46.038,24.0,1.0,6,A. Markelov,RUSSIAN TIME,Sakhir,Feature Race,Round 1,2017-04-16
1,32,58:26.868,7.891,7.891,177.530,1:46.187,18.0,2.0,20,N. Nato,Pertamina Arden,Sakhir,Feature Race,Round 1,2017-04-16
2,32,58:32.757,13.780,5.889,177.233,1:46.550,24.0,3.0,1,C. Leclerc,PREMA Racing,Sakhir,Feature Race,Round 1,2017-04-16
3,32,58:36.455,17.478,3.698,177.046,1:46.729,19.0,4.0,15,J. King,MP Motorsport,Sakhir,Feature Race,Round 1,2017-04-16
4,32,58:37.121,18.144,0.666,177.013,1:46.761,21.0,5.0,9,O. Rowland,DAMS,Sakhir,Feature Race,Round 1,2017-04-16

In [4]:
df.columns

Index(['LAPS', 'TIME', 'GAP', 'INT.', 'KPH', 'BEST', 'LAP', 'POS', 'CAR',
       'PILOT NAME', 'TEAM', 'CIRCUIT', 'TYPE', 'ROUND', 'DATE'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2905 entries, 0 to 2904
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LAPS        2905 non-null   int64
 1   TIME        2905 non-null   object
 2   GAP         2905 non-null   object
 3   INT.        2905 non-null   object
 4   KPH         2905 non-null   float64
 5   BEST        2905 non-null   object
 6   LAP         2905 non-null   float64
 7   POS         2904 non-null   float64
 8   CAR         2905 non-null   int64
 9   PILOT NAME  2905 non-null   object
 10  TEAM        2905 non-null   object
 11  CIRCUIT     2905 non-null   object
 12  TYPE        2905 non-null   object
 13  ROUND       2905 non-null   object
 14  DATE        2905 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 340.6+ KB

In [6]:
# Change the NaN values in the 'POS' column to 0 to denote disqualification of the driver
df['POS'] = df['POS'].fillna(0)
df['POS'] = [int(x) for x in df['POS']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2905 entries, 0 to 2904
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LAPS        2905 non-null   int64
 1   TIME        2905 non-null   object
 2   GAP         2905 non-null   object
 3   INT.        2905 non-null   object
 4   KPH         2905 non-null   float64
 5   BEST        2905 non-null   object
 6   LAP         2905 non-null   float64
 7   POS         2905 non-null   int64
 8   CAR         2905 non-null   int64
 9   PILOT NAME  2905 non-null   object
 10  TEAM        2905 non-null   object
 11  CIRCUIT     2905 non-null   object
 12  TYPE        2905 non-null   object
 13  ROUND       2905 non-null   object
 14  DATE        2905 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 340.6+ KB

In [7]:
# Change the data type of the DATE column from '%Y-%m-%d' to datetime
df['DATE'] = pd.to_datetime(df['DATE'], format='mixed', yearfirst=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2905 entries, 0 to 2904
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LAPS        2905 non-null   int64
 1   TIME        2905 non-null   object
 2   GAP         2905 non-null   object
 3   INT.        2905 non-null   object
 4   KPH         2905 non-null   float64
 5   BEST        2905 non-null   object
 6   LAP         2905 non-null   float64
 7   POS         2905 non-null   int64
 8   CAR         2905 non-null   int64
 9   PILOT NAME  2905 non-null   object
 10  TEAM        2905 non-null   object
 11  CIRCUIT     2905 non-null   object
 12  TYPE        2905 non-null   object
 13  ROUND       2905 non-null   object
 14  DATE        2905 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(3), object(9)
memory usage: 340.6+ KB

In [16]:
# Create a function that creates a new column called TIME IN SECONDS that converts the TIME column to seconds
def time_to_seconds(i):
    """
    This function converts the string from the TIME column to seconds

    Args: i (str): The string in the TIME column

    Returns: (float): The string in the TIME column converted to seconds

    Example: time_to_seconds('1:02:03.456') returns 3723.456000
             time_to_seconds('12:03.456') returns 723.456000   
    """
    # Strip the string of any whitespace
    # If the string has 11 characters and the first character is 1 or 2, then the hour is 1 or 2 and convert the hour to seconds
    # Otherwise if the string has 9 characters, then the hour is 0
    # Otherwise special case 1: '1:02.01.52'
    # Otherwise special case 2: '1:02:0.898'
    # Otherwise special case 3: '1:07:24.88'
    # Split the string from the decimal point of the seconds onwards to the rightmost number
    # Convert the minutes to seconds by type casting and multiplying by 60
    # Convert the seconds to seconds by type casting
    # Add the hour, minute and second to get the total time in seconds and type cast back to string
    # Add the string that was initially split to the rightmost number to get the microseconds
    # Return the total time in seconds as a float

    i = i.strip()

    try:
        # if len(i) == 11 and i.startswith(('1', '2')):                
        #     hour = int(i[0]) * 3600
        #     j = i[7:]
        #     minute = int(i[2:4]) * 60
        #     second = int(i[5:7])        
        
        # elif len(i) == 9:
        #     hour = 0
        #     j = i[5:]
        #     minute = int(i[0:2]) * 60
        #     second = int(i[3:5])

        # else:


        # new_prefix = hour + minute + second
        # new_time = str(new_prefix) + j
        if len(i) == 9:
            h = 0
            m, s, ms = map(int, i.split('.:'))

        elif len(i) == 10 and i[-3] == '.':
            i  += '0'
            h, m, s, ms = map(int, i.split(':.'))

        else:
            h, m, s, ms = map(int, i.split(':.'))

        new_time = (h * 3600) + (m * 60) + s + (ms / 1000)
        
    except ValueError:
        print(f"Invalid time format: {i}")
        new_time = i
    
    return new_time

df['TIME IN SECONDS'] = df['TIME'].apply(time_to_seconds)

TypeError: map() must have at least two arguments.

In [10]:
df.loc[70:90]

,LAPS,TIME,GAP,INT.,KPH,BEST,LAP,POS,CAR,PILOT NAME,TEAM,CIRCUIT,TYPE,ROUND,DATE,TIME IN SECONDS
70,26,42:58.540,38.090,2.819,168.798,1:36.532,6.0,14,3,L. Delétraz,Racing Engineering,Barcelona,Sprint Race,Round 2,2017-05-14,42:58.540
71,26,42:59.896,39.446,1.356,168.710,1:36.330,5.0,15,14,S. Sette Câmara,MP Motorsport,Barcelona,Sprint Race,Round 2,2017-05-14,42:59.896
72,26,43:07.400,46.950,7.504,168.220,1:36.084,7.0,16,21,S. Gelael,Pertamina Arden,Barcelona,Sprint Race,Round 2,2017-05-14,43:07.400
73,26,43:10.676,50.226,3.276,168.008,1:34.670,5.0,17,11,R. Boschung,Campos Racing,Barcelona,Sprint Race,Round 2,2017-05-14,43:10.676
74,26,43:20.362,59.912,9.686,167.382,1:36.672,4.0,18,16,N. Jeffri,Trident,Barcelona,Sprint Race,Round 2,2017-05-14,43:20.362
75,41,1:00:46.545,0.000,0.000,135.070,1:21.562,27.0,1,9,O. Rowland,DAMS,Monte Carlo,Feature Race,Round 3,2017-05-27,1:00:46.545
76,41,1:00:47.409,0.864,0.864,135.038,1:21.592,30.0,2,6,A. Markelov,RUSSIAN TIME,Monte Carlo,Feature Race,Round 3,2017-05-27,1:00:47.409
77,41,1:01:00.314,13.769,12.905,134.562,1:21.654,28.0,3,7,N. Matsushita,ART Grand Prix,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:00.314
78,41,1:01:06.283,19.738,5.969,134.343,1:22.198,6.0,4,8,A. Albon,ART Grand Prix,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:06.283
79,41,1:01:11.202,24.657,4.919,134.163,1:23.113,6.0,5,5,L. Ghiotto,RUSSIAN TIME,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:11.202
80,41,1:01:14.627,28.082,3.425,134.038,1:23.369,34.0,6,4,G. Malja,Racing Engineering,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:14.627
81,41,1:01:14.998,28.453,0.371,134.024,1:23.146,17.0,7,18,N. de Vries,Rapax,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:14.998
82,41,1:01:15.670,29.125,0.672,134.000,1:23.402,28.0,8,19,J. Cecotto,Rapax,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:15.670
83,41,1:01:32.097,45.552,16.427,133.404,1:22.910,6.0,9,15,J. King,MP Motorsport,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:32.097
84,41,1:01:33.126,46.581,1.029,133.367,1:22.875,6.0,10,17,S. Canamasas,Trident,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:33.126
85,41,1:01:34.363,47.818,1.237,133.322,1:23.702,18.0,11,2,A. Fuoco,PREMA Racing,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:34.363
86,41,1:01:37.317,50.772,2.954,133.215,1:23.588,5.0,12,11,R. Boschung,Campos Racing,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:37.317
87,41,1:01:40.239,53.694,2.922,133.110,1:23.313,17.0,13,21,S. Gelael,Pertamina Arden,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:40.239
88,40,1:01:37.787,1 LAP,1 LAP,129.950,1:23.583,27.0,14,16,N. Jeffri,Trident,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:37.787
89,39,1:01:58.772,2 LAPS,1 LAP,125.986,1:21.983,27.0,15,3,L. Delétraz,Racing Engineering,Monte Carlo,Feature Race,Round 3,2017-05-27,1:01:58.772
90,30,41:51.284,0.000,0.000,143.510,1:23.012,27.0,1,18,N. de Vries,Rapax,Monte Carlo,Sprint Race,Round 3,2017-05-27,41:51.284

In [11]:
# convert the TIME column to datetime data type
# first_time = df['TIME'][0]
# first_time = datetime.strptime(first_time, '%M:%S.%f')

# df['NEW TIME'] = [datetime.strptime(x, '%M:%S.%f') for x in df['TIME']]
# df.head()

In [12]:
### use plotly for plotting cities that host races

# find out what cities are in the circuit column
df['CIRCUIT'].unique()

array(['Sakhir', 'Barcelona', 'Monte Carlo', 'Baku', 'Spielberg',
       'Silverstone', 'Budapest', 'Spa-Francorchamps', 'Monza',
       'Jerez de la Frontera', 'Yas Island', 'Le Castellet', 'Sochi',
       'Mugello', 'Sakhir ', 'Jeddah', 'Imola', 'Zandvoort', 'Melbourne'],
      dtype=object)

In [13]:
# use plotly for plotting cities that host races

# adjust the appearance of the second 'Sakhir' string by removing the space
df['CIRCUIT'] = df['CIRCUIT'].apply(lambda x: x.strip() if x == 'Sakhir ' else x)
df['CIRCUIT'].unique()

array(['Sakhir', 'Barcelona', 'Monte Carlo', 'Baku', 'Spielberg',
       'Silverstone', 'Budapest', 'Spa-Francorchamps', 'Monza',
       'Jerez de la Frontera', 'Yas Island', 'Le Castellet', 'Sochi',
       'Mugello', 'Jeddah', 'Imola', 'Zandvoort', 'Melbourne'],
      dtype=object)

In [14]:
### use plotly for plotting cities that host races

# map each city to a column for its country
# create a function that makes a dictionary to map each city as its key to a country value
def to_country(city):
    '''
    Purpose: to convert a city to a country
    Inputs: city, string that denotes the name of the city to be converted
    Returns: the name of the country to which that city belongs
    '''

    # create a list of countries for each city in the circuit list
    country_list = ['Bahrain', 'Spain', 'Monaco', 'Azerbaijan', 'Austria', 'United Kingdom', 'Hungary', 'Belgium', 'Italy',
    'Spain', 'United Arab Emirates', 'France', 'Russia', 'Italy', 'Saudi Arabia', 'Italy', 'Netherlands', 'Australia']

    # create a dictionary to map each city to the country name
    country = {df['CIRCUIT'].unique()[i]: country_list[i] for i in range(0, df['CIRCUIT'].nunique())}

    # return correct value of country name
    return country[city]

# apply the function to the data
df['COUNTRY'] = df['CIRCUIT'].apply(to_country)
df

,LAPS,TIME,GAP,INT.,KPH,BEST,LAP,POS,CAR,PILOT NAME,TEAM,CIRCUIT,TYPE,ROUND,DATE,TIME IN SECONDS,COUNTRY
0,32,58:18.977,0.000,0.000,177.931,1:46.038,24.0,1,6,A. Markelov,RUSSIAN TIME,Sakhir,Feature Race,Round 1,2017-04-16,58:18.977,Bahrain
1,32,58:26.868,7.891,7.891,177.530,1:46.187,18.0,2,20,N. Nato,Pertamina Arden,Sakhir,Feature Race,Round 1,2017-04-16,58:26.868,Bahrain
2,32,58:32.757,13.780,5.889,177.233,1:46.550,24.0,3,1,C. Leclerc,PREMA Racing,Sakhir,Feature Race,Round 1,2017-04-16,58:32.757,Bahrain
3,32,58:36.455,17.478,3.698,177.046,1:46.729,19.0,4,15,J. King,MP Motorsport,Sakhir,Feature Race,Round 1,2017-04-16,58:36.455,Bahrain
4,32,58:37.121,18.144,0.666,177.013,1:46.761,21.0,5,9,O. Rowland,DAMS,Sakhir,Feature Race,Round 1,2017-04-16,58:37.121,Bahrain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900,28,45:11.179,28.035,0.549,162.829,1:34.679,22.0,16,20,R. Stanek,Trident,Budapest,Sprint Race,Round 10,2023-07-23,45:11.179,Hungary
2901,28,45:16.130,32.986,4.951,162.533,1:32.916,20.0,17,16,R. Nissany,PHM Racing by Charouz,Budapest,Sprint Race,Round 10,2023-07-23,45:16.130,Hungary
2902,28,45:20.533,37.389,4.403,162.269,1:34.845,17.0,18,17,B. Benavides,PHM Racing by Charouz,Budapest,Sprint Race,Round 10,2023-07-23,45:20.533,Hungary
2903,28,45:21.157,38.013,0.624,162.232,1:34.887,7.0,19,15,A. Cordeel,Invicta Virtuosi Racing,Budapest,Sprint Race,Round 10,2023-07-23,45:21.157,Hungary
2904,27,46:05.187,1 LAP,1 LAP,153.945,1:33.668,22.0,20,23,J. Correa,Van Amersfoort Racing,Budapest,Sprint Race,Round 10,2023-07-23,46:05.187,Hungary

In [15]:
# use plotly for plotting countries that host races

# fig = px.choropleth(df, locations='COUNTRY', locationmode='country names', color='COUNTRY') # creates the plot
# fig.layout.geo.showframe = False                # removes the black outermost border from the default plot
# fig.layout.geo.showcountries = True             # shows the borders of each country
# fig.layout.geo.projection.type = 'miller'       # changes how the map appears, can be flat or globular depending on the argument
# fig.layout.geo.lataxis.range = [-50, 74]        # changes the scope of how much LATITUDE we see on the map
# fig.layout.geo.lonaxis.range = [-199, 199]      # changes the scope of how much LONGITUDE we see on the map
# fig.layout.geo.landcolor = 'white'              # changes the color of the countries for which we have no data
# fig.layout.geo.bgcolor = '#E5ECF6'              # changes the color of the ocean
# fig.layout.paper_bgcolor = '#E5ECF6'            # changes the color of the display that is outside of the ocean and the countries
# fig.layout.geo.countrycolor = 'gray'            # changes the color of the country borders
# fig.layout.geo.coastlinecolor = 'gray'          # changes the color of the coasts of each continent
# fig.show()